<!--优化：主题颜色更改为灰色-->
<div class="layui-container" style="margin-top: 10px;">
    <div class="layui-row">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4 layui-col-md-offset4 layui-col-lg-offset4" style="text-align: center;">
            <span class="alert d-block text-monospace" style="font-size:13px;text-align:center;">
            <a href="https://beian.miit.gov.cn/#/Integrated/index" style="text-decoration: none;color: #007bff;">
                ***
            </a>
            ©公众号：***
        </span>
        </div>
    </div>
</div>

</body>
</html>