<div class="layui-row">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4 layui-col-lg4 layui-col-md-offset4 layui-col-lg-offset4" style="text-align: center;margin-top: 0.5rem;">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="{:url('/GlobalServiceExchange/good/index')}" target="_blank" rel="noopener noreferrer">首页</a>
          <a href="{:url('/GlobalServiceExchange/help/customerService')}" target="_blank" rel="noopener noreferrer">客服</a>
<!--            <a href="">帮助</a>-->
          <a href="{:url('/GlobalServiceExchange/user/getUserAllOrderInfo')}" target="_blank" rel="noopener noreferrer">历史结果</a>
          <a href="{:url('/GlobalServiceExchange/user/account')}" target="_blank" rel="noopener noreferrer">账户</a>
        </span>
    </div>
</div>
