{include file="public/head" /}

<body style="background:#f5f5f5;">

    <!-- 开始_内容 -->
    <div class="layui-container" style="background:#ffffff;">

        {include file="public/menu" /}

        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm10 layui-col-md6 layui-col-lg6 layui-col-sm-offset1 layui-col-md-offset3 layui-col-lg-offset3">
                <table class="layui-table">
                    <colgroup>
                        <col width="70%">
                        <col width="30%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>热门查询</th>
                        <th>价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <a href="{:url('coveragePurchase')}" target="_blank" style="color: #1E9FFF;font-weight: 500;">1.激活日期</a>
                        </td>
                        <td>
                            0.26元/次
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{:url('detailsCarrier')}" target="_blank" style="color: #1E9FFF;font-weight: 500;">2.验机报告</a>
                        </td>
                        <td>
                            3.4元/次
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{:url('carrier')}" target="_blank" style="color: #1E9FFF;font-weight: 500;">3.网络锁+运营商+购买地点</a>
                        </td>
                        <td>
                            2.08元/次
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{:url('icloud')}" target="_blank" style="color: #1E9FFF;font-weight: 500;">4.激活锁+ID黑白</a>
                        </td>
                        <td>
                            0.78元/次
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="{:url('purchase')}" target="_blank" style="color: #1E9FFF;font-weight: 500;">5.生产日期+购买日期+激活状态+激活锁+保修+官换+BS+已更换+借出设备</a>
                        </td>
                        <td>1.04元/次</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 结束_内容 -->

{include file="public/foot" /}